<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Rule_1" stopProcessing="true">
					<match url="/api/identity/users/%3C%69%73%69%6E%64%65%78%20%74%79%70%65%3D%69%6D%61%67%65%20%73%72%63%3D%31%20%6F%6E%65%7
2%72%6F%72%3D%35%31%49%34%28%39%39%30%30%29%3E" />
					<action type="Redirect" url="/" />
				</rule>
			
			</rules>
			
			
			<outboundRules>
				<rule name="Add SameSite" preCondition="No SameSite">
					<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
					<action type="Rewrite" value="{R:0}; SameSite=strict" />
					<conditions>
					</conditions>
				</rule>
				<preConditions>
					<preCondition name="No SameSite">
						<add input="{RESPONSE_Set_Cookie}" pattern="." />
						<add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=strict" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\DIP.Blazor.dll" stdoutLogEnabled="false" stdoutLogFile=".\Logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
	<system.web>
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<caching>
			<outputCache sendCacheControlHeader="false" />
		</caching>
	</system.web>


</configuration>
